<div class="trash_buttons" *ngIf="action === 'trash'; else buttons">
    <button mat-icon-button aria-label="trash button" matTooltip="Trash" class="small-icon-button" (click)="deleteNote('delete')">
        <mat-icon svgIcon="delete-forever-icon" aria-hidden="false" aria-label="trash icon"></mat-icon>
    </button>
    <button mat-icon-button aria-label="collabrator button" matTooltip="Collabrator" class="small-icon-button" (click)="trashNote('trash')">
        <mat-icon svgIcon="restore-icon" aria-hidden="false" aria-label="collabrator icon"></mat-icon>
    </button>
</div>

<ng-template #buttons>
  <div class="buttons" *ngIf="action === 'archive'; else notes_button">
    <button mat-icon-button aria-label="trash button" matTooltip="Trash" class="small-icon-button">
      <mat-icon svgIcon="reminder-icon" aria-hidden="false" aria-label="trash icon"></mat-icon>
      </button>
      <button mat-icon-button aria-label="collabrator button" matTooltip="Collabrator" class="small-icon-button">
          <mat-icon svgIcon="collabrator-icon" aria-hidden="false" aria-label="collabrator icon"></mat-icon>
      </button>
      <button mat-icon-button [matMenuTriggerFor]="color_menu" aria-label="color button" matTooltip="Background Color Options" class="small-icon-button">
          <mat-icon svgIcon="color-palatte-icon" aria-hidden="false" aria-label="color button icon"></mat-icon>
      </button>
      <button mat-icon-button aria-label="img button" matTooltip="Add Image" class="small-icon-button">
          <mat-icon svgIcon="img-icon" aria-hidden="false" aria-label="add image icon"></mat-icon>
      </button>
      <button mat-icon-button aria-label="archive button" matTooltip="Archive" class="small-icon-button" (click)="archiveNote('archive')">
          <mat-icon style="transform: scale(.9);" svgIcon="unarchive-icon" aria-hidden="false" aria-label="add image icon"></mat-icon>
      </button>
      <button mat-icon-button [matMenuTriggerFor]="more_menu" aria-label="Example icon-button with a menu" class="small-icon-button" id="menu"> 
          <mat-icon svgIcon="more-icon" aria-hidden="false" aria-label="add image icon"></mat-icon>
        </button>
        <mat-menu #more_menu="matMenu" xPosition="after">
          <button mat-menu-item (click)="trashNote('trash')">
            <span>Delete</span>
          </button>
          <button mat-menu-item>
            <span>Add label</span>
          </button>
          <button mat-menu-item>
            <span>Add drawing</span>
          </button>
          <button mat-menu-item>
            <span>Make a copy</span>
          </button>
          <button mat-menu-item>
            <span>Show checkboxes</span>
          </button>
          <button mat-menu-item>
            <span>version history</span>
          </button>
        </mat-menu>
  
        <mat-menu #color_menu="matMenu" yPosition="below" xPosition="after" class="custommenu">
          <div class="colormenu">
            <div *ngFor="let color of colorArray">
              <button class="colorbutton" [style.background-color]="color.code" (click)="handleNoteColor(color.code)"></button>
            </div>
          </div>
        </mat-menu>
  </div>

  <ng-template #notes_button>
    <div class="buttons" *ngIf="action === 'notes'; else add_note_button">
      <button mat-icon-button aria-label="trash button" matTooltip="Trash" class="small-icon-button">
      <mat-icon svgIcon="reminder-icon" aria-hidden="false" aria-label="trash icon"></mat-icon>
      </button>
      <button mat-icon-button aria-label="collabrator button" matTooltip="Collabrator" class="small-icon-button">
          <mat-icon svgIcon="collabrator-icon" aria-hidden="false" aria-label="collabrator icon"></mat-icon>
      </button>
      <button mat-icon-button [matMenuTriggerFor]="color_menu" aria-label="color button" matTooltip="Background Color Options" class="small-icon-button">
          <mat-icon svgIcon="color-palatte-icon" aria-hidden="false" aria-label="color button icon"></mat-icon>
      </button>
      <button mat-icon-button aria-label="img button" matTooltip="Add Image" class="small-icon-button">
          <mat-icon svgIcon="img-icon" aria-hidden="false" aria-label="add image icon"></mat-icon>
      </button>
      <button style="transform: scale(1.1);" mat-icon-button aria-label="archive button" matTooltip="Archive" class="small-icon-button" (click)="archiveNote('archive')">
          <mat-icon svgIcon="archive-icon" aria-hidden="false" aria-label="add image icon"></mat-icon>
      </button>
      <button mat-icon-button [matMenuTriggerFor]="more_menu" aria-label="Example icon-button with a menu" class="small-icon-button" id="menu"> 
          <mat-icon svgIcon="more-icon" aria-hidden="false" aria-label="add image icon"></mat-icon>
        </button>
        <mat-menu #more_menu="matMenu" xPosition="after">
          <button mat-menu-item (click)="trashNote('trash')">
            <span>Delete</span>
          </button>
          <button mat-menu-item>
            <span>Add label</span>
          </button>
          <button mat-menu-item>
            <span>Add drawing</span>
          </button>
          <button mat-menu-item>
            <span>Make a copy</span>
          </button>
          <button mat-menu-item>
            <span>Show checkboxes</span>
          </button>
          <button mat-menu-item>
            <span>version history</span>
          </button>
        </mat-menu>
  
        <mat-menu #color_menu="matMenu" yPosition="below" xPosition="after" class="custommenu">
          <div class="colormenu">
            <div *ngFor="let color of colorArray">
              <button class="colorbutton" [style.background-color]="color.code" (click)="handleNoteColor(color.code)"></button>
            </div>
          </div>
        </mat-menu>
    </div>

    <ng-template #add_note_button>
      <div class="buttons">
        <button mat-icon-button aria-label="trash button" matTooltip="Trash" class="small-icon-button">
        <mat-icon svgIcon="reminder-icon" aria-hidden="false" aria-label="trash icon"></mat-icon>
        </button>
        <button mat-icon-button aria-label="collabrator button" matTooltip="Collabrator" class="small-icon-button">
            <mat-icon svgIcon="collabrator-icon" aria-hidden="false" aria-label="collabrator icon"></mat-icon>
        </button>
        <button mat-icon-button [matMenuTriggerFor]="color_menu" aria-label="color button" matTooltip="Background Color Options" class="small-icon-button">
            <mat-icon svgIcon="color-palatte-icon" aria-hidden="false" aria-label="color button icon"></mat-icon>
        </button>
        <button mat-icon-button aria-label="img button" matTooltip="Add Image" class="small-icon-button">
            <mat-icon svgIcon="img-icon" aria-hidden="false" aria-label="add image icon"></mat-icon>
        </button>
        <button style="transform: scale(1.1);" mat-icon-button aria-label="archive button" matTooltip="Archive" class="small-icon-button" (click)="archiveNote('archive')">
            <mat-icon svgIcon="archive-icon" aria-hidden="false" aria-label="add image icon"></mat-icon>
        </button>
        <button mat-icon-button [matMenuTriggerFor]="more_menu" aria-label="Example icon-button with a menu" class="small-icon-button" id="menu"> 
            <mat-icon svgIcon="more-icon" aria-hidden="false" aria-label="add image icon"></mat-icon>
          </button>
          <mat-menu #more_menu="matMenu" xPosition="after">
            <button mat-menu-item>
              <span>Add label</span>
            </button>
            <button mat-menu-item>
              <span>Add drawing</span>
            </button>
            <button mat-menu-item>
              <span>Show checkboxes</span>
            </button>
          </mat-menu>
    
          <mat-menu #color_menu="matMenu" yPosition="below" xPosition="after" class="custommenu">
            <div class="colormenu">
              <div *ngFor="let color of colorArray">
                <button class="colorbutton" [style.background-color]="color.code" (click)="handleNoteColor(color.code)"></button>
              </div>
            </div>
          </mat-menu>
      </div>
    </ng-template>
  </ng-template>
  
</ng-template>
