.small-icon-button {
    display: flex;
    align-items: center;
    justify-content: center;
    /* Reduce button size */
    width: 32px;
    height: 32px;
  }
  
  /* Adjust the icon size */
  .small-icon-button mat-icon{
    position: absolute;
    transform: scale(.8);


  }

  .buttons{
    width: 230px;
    display: flex;
    justify-content: space-around;
  }

  