<div class='tknote' *ngIf="addnote else expandedNote"  >
    <input type="text" placeholder="Take a note" (click)="addNoteToggle('toggle')">
    <div class="tkbuttons">
        <button mat-icon-button aria-label="collabrator button" matTooltip="Collabrator" class="small-icon-button">
            <mat-icon svgIcon="tick-icon"></mat-icon>
        </button>
        <button mat-icon-button aria-label="collabrator button" matTooltip="Collabrator" class="small-icon-button">
            <mat-icon svgIcon="brush-icon"></mat-icon>
        </button>
        <button mat-icon-button aria-label="collabrator button" matTooltip="Collabrator" class="small-icon-button">
            <mat-icon style="transform: scale(.9);" svgIcon="img-icon"></mat-icon>
        </button>
    </div>
</div>
<ng-template #expandedNote>
<div class="input">
    <div class="inside_input">
        <input class="text" id="title" type="text" placeholder="Title" [(ngModel)]="title">
        <input class="text" id="note" type="text" placeholder="Take a note..." [(ngModel)]="description">
        <div class="buttons">
            <div style="margin: 0px 0px 0px 7px;">
                <app-icons></app-icons>
            </div>
            <button style="margin: 0px 12px 0px 0px;" mat-button color="black" (click)="addNoteToggle('save')">close</button>
        </div>
    </div>
</div>

</ng-template>