.tknote{
    display: flex;
    height: 45px;
    width:600px;
    border-radius: 7px;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.input{
    display: flex;
    align-items: center;
    background-color: white;
    height: 130px;
    width: 600px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

input{
    width: 95%;
    box-sizing: border-box;
    border: 0px;
    outline: none;
}

.buttons{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#title{
    font-size: large;
}

#note{
    font-size: 15px;
}

.tknote input{
    outline: none;
    margin: 0px 15px;
    height: 45px;
    font-size: 17px;
    background-color: #fafafa;
}

.inside_input{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 600px;
    height: 130px;
    margin: 10px 0px;
}

.tkbuttons{
    display: flex;
    gap: 10px;
    margin-right: 10px;
}

.small-icon-button {
    display: flex;
    align-items: center;
    justify-content: center;
    /* Reduce button size */
    width: 40px;
    height: 40px;
  }
  
  /* Adjust the icon size */
  .small-icon-button mat-icon{
    position: absolute;
    transform: scale(.8);
  }