.notecard{
    position: relative;
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    height: auto;
    width: 230px;
    border: solid #ccc;
    border-radius: 5px;
    align-items: center;
}

.buttons{
    visibility: hidden;
}

.notecard:hover .buttons{
    visibility: visible;
}

.notecard span{
    align-self: flex-start;
    margin: 10px;
}

.text{
    word-wrap: break-word;
}