.notecard{
    position: relative;
    display: flex;
    flex-direction: column;
    height: auto;
    width: 230px;
    border: 1px solid #ccc;
    border-radius: 7px;
    align-items: center;
    padding: 10px 10px 5px 10px;
    transition: background-color 1s ease;
}

.notecard:hover{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.buttons{
    opacity: 0;
    transition: opacity .45s ease
}

.notecard:hover .buttons{
    opacity: 1;
}

.notecard span{
    align-self: flex-start;
}

span.text {
    word-wrap: break-word; /* Break long words if necessary */
    width: 100%;
    margin-bottom: 10px;
}

.content{
    display: flex;
    flex-direction: column;
    width: 100%;
}
