<div class="notecard" (click)="editNotesDialog(noteDetails)">
    <span class="text" style="font-weight: 500;">{{noteDetails.title}}</span>
    <span class="text" >{{noteDetails.description}}</span>
    <div class="buttons">
        <button mat-icon-button aria-label="trash button" matTooltip="Trash" (click)="handleNoteIconsClick('trash')">
            <mat-icon svgIcon="trash-icon" aria-hidden="false" aria-label="trash icon"></mat-icon>
        </button>
        <button mat-icon-button aria-label="collabrator button" matTooltip="Collabrator">
            <mat-icon svgIcon="collabrator-icon" aria-hidden="false" aria-label="collabrator icon"></mat-icon>
        </button>
        <button mat-icon-button aria-label="color button" matTooltip="Background Color Options">
            <mat-icon svgIcon="color-palatte-icon" aria-hidden="false" aria-label="color button icon"></mat-icon>
        </button>
        <button mat-icon-button aria-label="img button" matTooltip="Add Image">
            <mat-icon svgIcon="img-icon" aria-hidden="false" aria-label="add image icon"></mat-icon>
        </button>
    </div>
</div>