.note{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(241px, 1fr));
    gap: 16px;
    padding: 30px;
}

.addnote{
    display: flex;
    justify-content: center;
}

.notescontainer{
    margin: 30px 40px;
}