.note{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(241px, 1fr));
    gap: 16px;
    justify-content: center;
    padding: 30px;
}

.addnote{
    display: flex;
    justify-content: center;
}

.notescontainer{
    margin: 30px 40px;
}

.spinner{
    justify-content: center;
    align-items: center;
    height: 400px;
    margin: 30px 40px;
}

.no_note{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    margin: 30px 40px;
    font-size: large;
    color: rgb(152, 152, 152);
}