<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link rel="stylesheet" href="./signup.component.scss">
</head>
<body>
    <div class="Registration-container">
        <div class="content">
            <h1>Fundo</h1>
            <h2>Create your Fundo Account</h2>
            <form [formGroup]="registerForm">
                <div class="horizontal">
                    <mat-form-field appearance="outline">
                        <mat-label>First name</mat-label>
                        <input matInput formControlName="fname">
                        <mat-error *ngIf="regFormControls['fname']['errors']?.['required']">This field is required</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Last name</mat-label>
                        <input matInput formControlName="lname">
                        <mat-error *ngIf="regFormControls['lname']['errors']?.['required']">This field is required</mat-error>
                    </mat-form-field>
                </div>
                <mat-form-field id="username" appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email">
                    <mat-hint>You can use letters, numbers & periods</mat-hint>
                    <mat-error *ngIf="regFormControls['email']['errors']?.['required']">This field is required</mat-error>
                    <mat-error *ngIf="regFormControls['email']['errors']?.['email']">Invalid email format</mat-error>
                </mat-form-field>
                <div class="horizontal">
                    <mat-form-field appearance="outline">
                        <mat-label>Password</mat-label>
                        <input matInput type="password" formControlName="password">
                        <mat-error *ngIf="regFormControls['password']['errors']?.['required']">This field is required</mat-error>
                    </mat-form-field>                    
                    <mat-form-field appearance="outline">
                        <mat-label>Confirm</mat-label>
                        <input matInput type="password" formControlName="confirm">
                        <mat-error *ngIf="regFormControls['confirm']['errors']?.['required']">This field is required</mat-error>
                    </mat-form-field>                 
                </div>
                <p class="description">Use 8 or more characters with a mix of letters, numbers & symbols</p>
                <div class="horizontal">
                    <button mat-button color="primary">Sign in instead</button>
                    <button mat-raised-button color="primary" (click)="handleRegistration()">SignUp</button>
                </div>
            </form>
        </div>
        <div class="image">
            <img src="../../../assets/registration.png" alt="image" width="100%">
        </div>
    </div>
</body>
</html>